.btn {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    background-color:hsl(71, 73%, 54%);
    border: none;
    color: aliceblue;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover{
    cursor: pointer;
}
